@import "../../scss/var";

.go-back-btn {
    border: none;
    background-color: $second-color;
    cursor: pointer;
    color: $box-color;
    font-weight: 600;
    padding: 7px 13px;
    border-radius: 7px;
    display: flex;
    align-items: center;
    column-gap: 5px;
    margin-top: 30px;
    margin-left: 30px;
    position: absolute;
}

a {
    text-decoration: none;
}

// Responsive:
@media screen and (max-width: 474px) {
    .go-back-btn {
        margin-top: 10px;
        margin-left: 10px;
    }
}